<Gestures
  class="container"
  @gesture="panright"
  @action={{action (transition-to "index")}}
>

  <Header>
    {{#link-to "index" class="header__button"}}
      <Icons as |Icon|>
        <Icon.Close />
      </Icons>
    {{/link-to}}

    <h1 class="header__title">
      Dodaj zdjecie
    </h1>
  </Header>

  <NewImage />
</Gestures>
